<div class="hero-small">
	

</div>



<div class="container">
	<h2>SIGN UP</h2>
	<div class="row">
		<form method="POST" action="/auth/signup" class="col s12">
			<div class="row">
				<div class="col s6 input-field">
					<label for="firstName">First Name</label>
					<input type="text" id="firstName" name="firstname" placeholder="Enter your first name" value="<%= previousData ? previousData.firstname : '' %>" required>
				</div>
				<div class="col s6 input-field">
					<label for="lastName">Last Name</label>
					<input type="text" id="lastName" name="lastname" placeholder="Enter your last name" value="<%= previousData ? previousData.lastname : '' %>" required>
				</div>
			</div>
			<div class="row">
				<div class="col s12 input-field">
					<label for="email">Email</label>
					<input type="email" name="email" placeholder="Enter your email" value="<%= previousData ? previousData.email : '' %>" required>
				</div>
			</div>
			<div class="row">
				<div class="col s6 input-field">
					<label for="password">Password</label>
					<input type="password" id="password" name="password" placeholder="Enter your password" required>
				</div>
				<div class="col s6 input-field">
					<label for="passwordV">Retype Password</label>
					<input type="password" id="passwordV" name="passwordV" placeholder="Retype your password" required>
				</div>
			</div>
			<div class="row">
				<div class="col s9 input-field">
					<label for="photo">Profile Image URL</label>
					<input type="url" id="photo" name="image" placeholder="Enter a URL for your photo" value="<%= previousData ? previousData.image : '' %>">
				</div>
				<div class="col s3 input-field">
					<label for="dob">Date of Birth</label>
					<input type="text" class="datepicker" id="dob" name="dob" placeholder="Enter your date of birth" value="<%= previousData ? previousData.dob : '' %>">
				</div>
			</div>
			<div class="row">
				<div class="col s12 input-field">
					<label for="bio">Bio</label>
					<input type="text" id="bio" name="bio" placeholder="Tell us about yourself." value="<%= previousData ? previousData.bio : '' %>">
				</div>
		</div>			
			<div>
				<button id="signup-btn" type="submit">Sign Up</button>
			</div>
		</form>
		<h5>Already have an account? Please <a class="account-btns" href="../auth/login">login</a>.</h5>
	</div>
</div>