<div class="container">
	<h1><%= user.firstname.toUpperCase() %>'S WANDERLIST</h1>
	<hr>
	<div class="profile">
		<% allPlaces.forEach((p) => {%>
			<div class="place-box">
				<a href="/profile/show/<%= p.id %>"><img src="<%= p.image %>" class="round-image">
					<h5><%= p.description %></h5>
				</a>
				<form method="POST" action="/profile/<%= p.id %>/?_method=DELETE" class="profile-place-attr">
					<input type="submit" value="Delete">
				</form>	
			</div>
		<% }); %>
	</div>
</div>
