<div class="container">
	<h1><%= user.firstname %>'s WanderList</h1>

	<!-- Show map -->
	<div class="row">
		<div class="col s3">
			<ul>
				<% allPlaces.forEach((p) => {%>
					<li>
						<a href="/profile/show/<%= p.id %>"><img src="<%= p.image %>">
						<%= p.description %>
						</a>
						<form method="POST" action="/profile/<%= p.id %>/?_method=DELETE">
							<input type="submit" value="Delete">
						</form>	
					</li>
				<% }); %>
			</ul>
		</div>
	</div>
</div>