<div class="container profile">
	<img src="<%= user.image %>" class="profile-pic">
	<h2><%= user.firstname %> <%= user.lastname %></h2>
	<h5><strong>Email: </strong><%= user.email %></h5>
	<h5><strong>Birthday: </strong><%= user.dob %></h5>
	<h5><strong>Bio: </strong><%= user.bio %></h5>
	<a href="/profile/edit">
		<i class="material-icons edit-btn">edit</i>
	</a>
</form>
</div>

