<div class="container">
	<form method="POST" action="/search">
		<input type="text" name="search" placeholder="Where would you like to go? Enter the city or country." id="search">
		<input type="submit" value="Search">
	</form>

	<% if(placeDetails.description) {%>
		<div class="slider">
			<ul class="slides">
				<% photos.forEach((img) => { %>
				      <li>
				        <img src="https://maps.googleapis.com/maps/api/place/photo?photoreference=<%= img.photo_reference%>&sensor=false&maxheight=300&maxwidth=300&key=AIzaSyAf_uDTwDISX-UHVrOefuGDvDBnxlylfCk">
				        <div class="caption">
				          <h3><%= placeDetails.description %></h3>
				        </div>
				      </li>
			  	<% }); %>
			</ul>
		</div>
		<form method="POST" action="/search/add" id="addPlace">
			<input type="hidden" name="description" value="<%= placeDetails.description %>">
			<input type="hidden" name="lng" value="<%= latLng.lng %>">
			<input type="hidden" name="lat" value="<%= latLng.lat %>">
			<input type="hidden" name="image" value="https://maps.googleapis.com/maps/api/place/photo?photoreference=<%= photos[0].photo_reference%>&maxheight=300&maxwidth=300&key=AIzaSyAf_uDTwDISX-UHVrOefuGDvDBnxlylfCk">
			<input type="hidden" name="userId" value="<%= user.id %>">
			<input type="submit" id="submitplace" value="Add <%= placeDetails.description %> to My List!">
		</form>
		<div class="col s6 m3">
			<h4 class="header">Points of Interest</h4>
			<% results.forEach((r) => { %>
				<div class="card horizontal small">
				  <div class="card-image">
				    <img src="<%= r.image_url %>">
				  </div>
				  <div class="card-stacked">
				    <div class="card-content">
				      <ul>
				      	<li>Name: <%= r.name %></li>
				      	<li>Categories: <%= r.categories[0].title %></li>
				      	<li>Rating: <%= r.rating %></li>
				      </ul>
				    </div>
				    <div class="card-action">
				      <a href="<%= r.url %>">Go to the Website!</a>
			      		<form method="POST" action="/search/add-poi" class="addPoi">
							<input type="hidden" name="name" value="<%= r.name %>">
							<input type="hidden" name="categories" value="<%= r.categories[0].title %>">
							<input type="hidden" name="rating" value="<%= r.rating %>">
							<input type="hidden" name="url" value="<%= r.url %>">
							<input type="hidden" name="image" value="<%= r.image_url %>">
							<input type="hidden" name="placeId" value="" class="place-id-input">
							<input type="submit" value="Add" id="submitpoi" class="add-poi-btn">
						</form>
				    </div>
				  </div>
				</div>
			<% }); %>
		</div>
	<% } %>
</div>
